/* Contacto CSS */
@font-face {
    font-family: 'Coolvetica';
    src: url(../font/coolvetica_rg.otf);
}

.contenedor{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    background: rgb(244, 244, 101);;
    margin-top: 25px;
    border-top: 10px solid #ffbb00;
    min-height: 25vh;
    box-shadow: 10px;
}

h2{
    font-family: 'Coolvetica';
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 5px;
}

p{
    margin-top: 5px;
    margin-bottom: 15px;
}

h3{
    font-family: 'Coolvetica';
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}

iframe{
    margin-left: 200px;
}

#centro{
    margin-top: 20px;
    text-align: center;
}